**/__pycache__/
**/*.elf
**/*.elf.*
**/*.uf2
**/*.bin
**/*.dis
**/*.c.obj
**/*.cpp.obj
**/*.S
**/*.S.*
**/*.pio.h
**/.ninja_log
**/.ninja_deps
**/build.ninja.*
**/rules.ninja.*
**/*.json.*
**/*.txt.*
**/*.cmake.*